@font-face {
  font-family: "PTSerif-Regular";
  font-style: normal;
  font-weight: 400;
  src:
    local("PTSerif-Regular"),
    local("PTSerif-Regular"),
    url("fonts/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  src:
    local("Montserrat-Regular"),
    local("Montserrat-Regular"),
    url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: 300;
  src:
    local("Montserrat-Light"),
    local("Montserrat-Light"),
    url("fonts/Montserrat-Light.ttf") format("truetype");
}

html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

h2 {
  font-family: "PTSerif-Regular";
  color: #8b171b;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

p,
li {
  font-family: "Montserrat-Light";
  font-size: 18px;
  color: black;
}

/* ------------------------------------------------- FOOTER SECTION ------------------------------------------------- */
.sita-site-footer {
  background: #e4967f;
  padding: 60px 0 0;
  margin-top: 1px;
}

/* Footer Top */
.footer-top-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

/* Column widths */
.footer-col-factor {
  width: 27%;
}

.footer-col-workshops {
  width: 20%;
}

.footer-col-resources {
  width: 10%;
}

.footer-col-publications {
  width: 28%;
}

.footer-col-blogs {
  width: 15%;
  margin: 0 auto;
}

/* Titles */
.footer-title {
  font-family: "Montserrat-Regular";
  font-size: 17px;
  margin-bottom: 10px;
  color: black;
}

/* Links columns */
.footer-links {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.footer-links a {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  display: block;
  color: #212529;
  margin-bottom: 8px;
  line-height: 1.7;
  text-decoration: none;
}

/* Publications */
.footer-publication {
  text-align: center;
}

.footer-publication img {
  width: 40%;
  margin: 0 auto 5px;
}

.footer-publication p {
  font-size: 16px !important;
  line-height: 1.4;
  margin-bottom: 0px;
}

.footer-publication strong {
  font-weight: 600;
}

/* Publications Carousel */
.publication-carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.publication-slides {
  width: 100%;
  text-align: center;
}

.publication-slide {
  display: none;
}

.publication-slide.active {
  display: block;
}

.publication-slide img {
  width: 40%;
  margin-bottom: 6px;
}

/* Blogs */
.footer-blogs {
  display: flex;
  flex-direction: column;
}

.footer-blogs .footer-title {
  text-align: center;
}

.footer-blogs .blog-item {
  position: relative;
  max-width: 170px;
  margin: 0 auto 10px;
}

.footer-blogs img {
  width: 100%;
  object-fit: cover;
  height: auto;
  display: block;
}

.blog-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.blog-overlay span {
  font-family: "Montserrat-Light";
  font-size: 15px;
}

.blog-overlay p {
  font-family: "Montserrat-Regular";
  font-size: 18px;
  margin: 0;
  color: white;
}

/* Footer Middle */
.footer-middle-flex {
  display: flex;
  align-items: flex-end;
}

.footer-middle-left {
  width: 47%;
}

.footer-logo {
  max-width: 160px;
}

.footer-middle-center {
  width: 20%;
}

.footer-middle-center a {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.footer-middle-center span {
  margin: 0 8px;
}

.footer-middle-right {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Social icons */
.footer-socials {
  display: flex;
  gap: 18px;
}

.footer-socials a {
  margin-left: 17px;
  color: #5a3c32;
  font-size: 18px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.footer-socials a:hover {
  color: #8b171b;
  transform: scale(1.2);
}

/* Match icon size */
.footer-socials a img {
  width: 23px;
  height: 23px;
  margin-top: -5px;
  display: inline-block;
  vertical-align: middle;
  filter: brightness(0) saturate(100%) invert(22%) sepia(14%) saturate(1015%)
    hue-rotate(343deg) brightness(95%) contrast(90%);
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.footer-socials a:hover img {
  filter: brightness(0) saturate(100%) invert(16%) sepia(65%) saturate(1776%)
    hue-rotate(340deg) brightness(95%) contrast(95%);
  transform: scale(1.2);
}

/* Footer Bottom */
.footer-bottom {
  background: #c26659;
  color: #fff;
  padding: 10px 0;
  margin-top: 10px;
}

.footer-bottom-flex {
  display: flex;
  justify-content: space-between;
}

.footer-bottom p {
  font-size: 17px;
  margin-bottom: 0px;
  color: white;
}

.footer-bottom a {
  color: white;
  text-decoration: none;
}

/* ------------------------------------------------- RESPONSIVE CODE ------------------------------------------------- */
/* COMMON STYLES SECTION */
@media (max-width: 1200px) {
  h2 {
    font-size: 42px;
  }

  p {
    font-size: 17px;
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 36px;
  }

  p {
    font-size: 15px;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 13px;
  }
}

/* FOOTER SECTION */
@media (max-width: 1200px) {
  /* Footer Top */
  .footer-col-factor {
    width: 26%;
  }

  .footer-col-workshops {
    width: 19%;
  }

  .footer-col-resources {
    width: 12%;
  }

  .footer-col-publications {
    width: 26%;
  }

  .footer-col-blogs {
    width: 17%;
  }

  /* Footer Middle */
  .footer-middle-left {
    width: 33%;
  }

  .footer-middle-center {
    width: 33%;
  }

  .footer-middle-right {
    width: 33%;
  }
}

@media (max-width: 991px) {
  .sita-site-footer {
    padding: 40px 0 0;
  }

  /* Footer Top */
  .footer-top-flex {
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .footer-col-factor,
  .footer-col-workshops,
  .footer-col-resources {
    width: 33.33%;
    text-align: center;
  }

  .footer-col-publications,
  .footer-col-blogs {
    width: 50%;
  }

  .footer-title {
    margin-bottom: 8px;
  }

  .footer-links a {
    margin-bottom: 5px;
  }

  .footer-col-publications {
    text-align: center;
  }

  .footer-publication .footer-title {
    margin-bottom: 15px;
  }

  .footer-publication img {
    width: 35%;
  }

  .footer-publication p {
    font-size: 15px !important;
  }

  .footer-blogs .footer-title {
    margin-bottom: 20px;
  }

  .footer-blogs .blog-item {
    position: relative;
    max-width: 150px;
  }

  .blog-overlay p {
    font-size: 17px;
  }

  /* Footer Middle */
  .footer-middle-flex {
    margin-top: 20px;
    align-items: center;
  }

  .footer-middle-left {
    width: 30%;
  }

  .footer-middle-center {
    width: 40%;
    text-align: center;
  }

  .footer-middle-right {
    width: 30%;
  }

  .footer-socials {
    gap: 5px;
  }

  .footer-socials a {
    font-size: 16px;
  }

  /* Footer Bottom */
  .footer-bottom-flex {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .footer-bottom p {
    text-align: center;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .sita-site-footer {
    padding: 30px 0 0;
  }

  /* Footer Top */
  .footer-top-flex {
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
  }

  .footer-col-factor,
  .footer-col-workshops,
  .footer-col-resources,
  .footer-col-publications,
  .footer-col-blogs {
    width: 100%;
  }

  .footer-links {
    align-items: center;
  }

  .footer-publication img {
    width: 30%;
  }

  .footer-publication .footer-title {
    margin-bottom: 10px;
  }

  .pub-prev {
    left: 20%;
  }

  .pub-next {
    right: 20%;
  }

  .footer-blogs .footer-title {
    margin-bottom: 15px;
  }

  .footer-blogs .blog-item {
    max-width: 180px;
    margin: 0 auto 15px;
  }

  .blog-overlay p {
    font-size: 16px;
  }

  /* Footer Middle */
  .footer-middle-flex {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }

  .footer-middle-left,
  .footer-middle-center,
  .footer-middle-right {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .footer-logo {
    width: 150px;
    margin: 0 auto;
  }

  .footer-socials {
    justify-content: center;
  }

  .footer-socials a img {
    width: 22px;
    height: 22px;
  }

  /* Footer Bottom */
  .footer-bottom {
    margin-top: 5px;
  }

  .footer-bottom p {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .sita-site-footer {
    padding: 25px 0 0;
  }

  /* Footer Titles & Links */
  .footer-title {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .footer-links a {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 2px;
  }

  /* Publications */
  .footer-publication .footer-title {
    margin-bottom: 8px;
  }

  .footer-publication img {
    width: 20%;
  }

  .footer-publication p {
    font-size: 14px !important;
  }

  /* Blogs */
  .footer-blogs .footer-title {
    margin-bottom: 10px;
  }

  .footer-blogs .blog-item {
    max-width: 130px;
    margin: 0 auto 10px;
  }

  .blog-overlay span {
    font-size: 13px;
  }

  .blog-overlay p {
    font-size: 15px;
  }

  /* Footer Middle */
  .footer-middle-flex {
    margin-top: 8px;
    gap: 10px;
  }

  .footer-logo {
    width: 130px;
  }

  .footer-middle-center a {
    font-size: 14px;
  }

  /* Social Icons */
  .footer-socials a {
    font-size: 15px;
  }

  .footer-socials a img {
    width: 21px;
    height: 21px;
    margin-top: -4px;
  }

  /* Footer Bottom */
  .footer-bottom p {
    font-size: 13px;
  }
}
