@font-face {
  font-family: "PTSerif-Regular";
  font-style: normal;
  font-weight: 400;
  src:
    local("PTSerif-Regular"),
    local("PTSerif-Regular"),
    url("fonts/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSerif-Italic";
  font-style: normal;
  font-weight: 400;
  src:
    local("PTSerif-Italic"),
    local("PTSerif-Italic"),
    url("fonts/PTSerif-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  src:
    local("Montserrat-Regular"),
    local("Montserrat-Regular"),
    url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: 300;
  src:
    local("Montserrat-Light"),
    local("Montserrat-Light"),
    url("fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  src:
    local("Montserrat-Medium"),
    local("Montserrat-Medium"),
    url("fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  src:
    local("Montserrat-SemiBold"),
    local("Montserrat-SemiBold"),
    url("fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "StorefrontPro";
  font-style: normal;
  src:
    local("StorefrontPro"),
    local("StorefrontPro"),
    url("fonts/StorefrontPro.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-Premier-Pro-Italic";
  font-style: normal;
  src:
    local("Garamond-Premier-Pro-Italic"),
    local("Garamond-Premier-Pro-Italic"),
    url("fonts/Garamond-Premier-Pro-Italic.ttf") format("truetype");
}


html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

h2 {
  font-family: "PTSerif-Regular";
  color: #8b171b;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

p,
li {
  font-family: "Montserrat-Light";
  font-size: 18px;
  color: black;
}

.booking-section {
  background-size: cover;
  background-position: center top;
  padding: 40px 0 320px;
  position: relative;
  overflow: visible;
}

.booking-section .motif {
  margin-bottom: 20px;
}

.booking-section h2 {
  font-family: "PTSerif-Regular";
  color: #8b171b;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

/* ---------------------------------- INNER PAGE HERO ---------------------------------- */
/* ---------------------------------- INNER PAGE HERO ---------------------------------- */
.booking-inner-hero {
  position: relative;
  width: 100%;
  overflow: visible;
  margin-bottom: calc((30vw / 3) + 10px);
}

.booking-inner-hero-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  z-index: 2;
  overflow: hidden;
}

.booking-inner-hero-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 10 / 3;
  object-fit: cover;
  object-position: center;
  display: block;
}

.booking-inner-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 190px;
  background-color: #e5c4b5;
  z-index: 1;
}

/* ------------------------------------------------- RESPONSIVE CODE ------------------------------------------------- */
/* COMMON STYLES SECTION */
@media (max-width: 1200px) {
  h2 {
    font-size: 42px;
  }

  p,
  li {
    font-size: 17px;
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 40px;
  }

  p,
  li {
    font-size: 16px;
  }

  .motif {
    width: 30%;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 36px;
  }

  p,
  li {
    font-size: 15px;
  }

  .motif {
    width: 40%;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 28px;
  }

  p,
  li {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 24px;
  }

  p,
  li {
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  .booking-section {
    padding: 30px 0px 270px;
  }
}

@media (max-width: 991px) {
  .booking-section {
    padding-bottom: 150px;
    padding: 20px 0px 150px;
  }

  .booking-section .motif {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .booking-section {
    padding-bottom: 0;
  }
}

/* ------------------------------------------------- BOOKING PAGE RESPONSIVE CODE ------------------------------------------------- */
@media (min-width: 1919px) {
  .booking-inner-hero {
    height: 260px;
        margin-bottom: calc((30vw / 3) + 10px);
  }
}

@media (max-width: 1919px) {
  .booking-inner-hero {
    height: 290px;
        margin-bottom: calc((27vw / 3) + 10px);
  }

  .booking-inner-side-img {
    bottom: -200px;
    width: 410px;
  }
}

@media (max-width: 1800px) {
  .booking-inner-hero {
    height: 270px;
        margin-bottom: calc((27vw / 3) + 10px);
  }

  .booking-inner-side-img {
    bottom: -205px;
  }
}

@media (max-width: 1750px) {
  .booking-inner-hero {
    height: 270px;
        margin-bottom: calc((25vw / 3) + 10px);
  }
}

@media (max-width: 1700px) {
  .booking-inner-hero {
    height: 260px;
        margin-bottom: calc((25vw / 3) + 10px);
  }
}

@media (max-width: 1650px) {
  .booking-inner-hero {
    height: 280px;
    margin-bottom: calc((27vw / 3) + 10px);
  }

  .booking-inner-hero-image {
    width: 88vw;
  }
}

@media (max-width: 1600px) {
  .booking-inner-hero {
    height: 265px;
        margin-bottom: calc((28vw / 3) + 10px);
  }
}

@media (max-width: 1550px) {
  .booking-inner-hero {
    height: 260px;
        margin-bottom: calc((27 vw / 3) + 10px);
  }

  .booking-inner-side-img {
    bottom: -207px;
  }
}

@media (max-width: 1500px) {
  .booking-inner-hero {
    height: 250px;
    margin-bottom: calc((29vw / 3) + 20px);
  }

  .booking-inner-hero-bg {
    height: 150px;
  }

   .booking-inner-hero-image {
    width: 92vw;
  }

  .booking-inner-side-img {
    width: 400px;
    bottom: -200px;
  }
}

@media (max-width: 1440px) {
  .booking-inner-hero {
    height: 265px;
    margin-bottom: calc((27vw / 3) + 10px);
  }

  .booking-inner-hero-bg {
    height: 160px;
  }

  .booking-inner-hero-image {
    width: 93vw;
  }

  .booking-inner-side-img {
    width: 390px;
    bottom: -195px;
  }
}

@media (max-width: 1400px) {
  .booking-inner-hero {
    height: 245px;
    margin-bottom: calc((27vw / 3) + 10px);
  }

  .booking-inner-hero-image {
    width: 90vw;
  }

  .booking-inner-side-img {
    bottom: -190px;
  }
}

@media (max-width: 1366px) {
  .booking-inner-hero {
    height: 240px;
  }

  .booking-inner-hero-bg {
    height: 140px;
  }

  .booking-inner-side-img {
    width: 350px;
    bottom: -180px;
  }
}

@media (max-width: 1320px) {
  .booking-inner-hero {
    height: 230px;
  }

  .booking-inner-hero-bg {
    height: 130px;
  }

  .booking-inner-side-img {
    width: 340px;
    bottom: -172px;
  }
}

@media (max-width: 1280px) {
  .booking-inner-hero {
    height: 230px;
    margin-bottom: calc((29vw / 3) + 10px);
  }

  .booking-inner-hero-bg {
    height: 125px;
  }

  .booking-inner-hero-image {
    width: 94vw;
  }

  .booking-inner-side-img {
    width: 330px;
    bottom: -166px;
  }
}

@media (max-width: 1240px) {
  .booking-inner-hero {
    height: 225px;
    /* margin-bottom: calc((95vw / 3) + 10px); */
  }

  .booking-inner-hero-bg {
    height: 120px;
  }

  .booking-inner-hero-image {
    width: 95vw;
  }

  .booking-inner-side-img {
    width: 325px;
    bottom: -160px;
  }
}

@media (max-width: 1200px) {
  .booking-inner-hero {
    height: 220px;
  }

  .booking-inner-hero-bg {
    height: 115px;
  }

  .booking-inner-side-img {
    width: 315px;
    bottom: -160px;
  }
}

@media (max-width: 1150px) {
  .booking-inner-hero {
    height: 205px;
  }

  .booking-inner-side-img {
    width: 315px;
    bottom: -150px;
  }
}

@media (max-width: 1100px) {
  .booking-inner-hero {
    height: 200px;
  }

  .booking-inner-hero-bg {
    height: 110px;
  }

  .booking-inner-side-img {
    width: 300px;
    bottom: -145px;
  }
}

@media (max-width: 1024px) {
  .booking-inner-hero {
    height: 185px;
  }

  .booking-inner-hero-bg {
    height: 105px;
  }

  .booking-inner-side-img {
    width: 280px;
    bottom: -135px;
  }
}

@media (max-width: 991px) {
  .booking-inner-section {
    padding: 10px 0;
  }

  .booking-inner-hero {
    height: 165px;
    margin-bottom: calc((30vw / 3) + 10px);
  }

  .booking-inner-hero-bg {
    height: 100px;
  }

  .booking-inner-hero-image {
    width: 88vw;
  }

  .booking-inner-side-img {
    display: none;
  }

  .booking-inner-section {
    position: relative;
  }

  .booking-inner-section::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-image: var(--service-watermark-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.2;
    pointer-events: none;
    z-index: 0;
    animation: rotateWatermark 180s linear infinite;
  }

  @keyframes rotateWatermark {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .ayurveda-nutrition-bg-image {
    --service-watermark-img: url("/ayurveda-nutrition-image.webp");

  }

  .kosha-counseling-bg-image {
    --service-watermark-img: url("/kosha-counseling-image.webp");
  }

  .release-karmic-patterns-bg-image {
    --service-watermark-img: url("/release-karmic-patterns-image.webp");
  }

  .soul-curriculum-bg-image {
    --service-watermark-img: url("/soul-curriculum-image.webp");
  }

  .yoga-therapy-bg-image {
    --service-watermark-img: url("/yoga-therapy-image.webp");
  }

  .group-sessions-bg-image {
    --service-watermark-img: url("/group-sessions-image.webp");
  }

  .booking-inner-section .container {
    position: relative;
    z-index: 1;
  }

  .booking-inner-content {
    width: 100%;
  }

  .booking-inner-content,
  .booking-inner-full-content {
    text-align: justify;
  }
}

@media (max-width: 950px) {
  .booking-inner-hero {
    height: 155px;
    margin-bottom: calc((30vw / 3) + 10px);

  }
}

@media (max-width: 900px) {
  .booking-inner-hero {
    height: 145px;
    margin-bottom: calc((30vw / 3) + 10px);

  }
}

@media (max-width: 850px) {
  .booking-inner-hero {
    height: 140px;
    margin-bottom: calc((30vw / 3) + 10px);
  }

  .booking-inner-hero-bg {
    height: 80px;
  }

  .booking-inner-hero-image {
    width: 90vw;
  }
}

@media (max-width: 800px) {
  .booking-inner-hero {
    height: 135px;
    margin-bottom: calc((30vw / 3) + 10px);
  }

  .booking-inner-hero-bg {
    height: 85px;
  }

  .booking-inner-hero-image {
    width: 92vw;
  }
}

@media (max-width: 767px) {
  .booking-inner-hero {
    height: 150px;
    margin-bottom: calc((30vw / 3) + 10px);
  }

  .booking-inner-hero-bg {
    height: 0px;
  }

  .booking-inner-hero-image {
    width: 100vw;
  }

  .booking-inner-content p {
    margin-bottom: 10px;
  }

  .booking-inner-full-content p {
    margin-bottom: 10px;
  }

  .booking-inner-section::before {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 730px) {
  .booking-inner-hero {
    height: 140px;
    margin-bottom: calc((30vw / 3) + 10px);
  }
}

@media (max-width: 700px) {
  .booking-inner-hero {
    height: 135px;
    margin-bottom: calc((30vw / 3) + 10px);
  }
}

@media (max-width: 650px) {
  .booking-inner-hero {
    height: 125px;
    margin-bottom: calc((30vw / 3) + 10px);
  }
}

@media (max-width: 600px) {
  .booking-inner-hero {
    height: 115px;
    margin-bottom: calc((30vw / 3) + 10px);

  }
}

@media (max-width: 575px) {
  .booking-inner-hero {
    height: 110px;
    margin-bottom: calc((30vw / 3) + 10px);
  }

  .booking-inner-hero-image {
    width: 100vw;
  }

  .booking-inner-content .motif {
    margin-bottom: 10px !important;
  }

  .booking-inner-content p {
    margin-bottom: 5px;
  }

  .booking-inner-full-content p {
    margin-bottom: 5px;
  }

  .booking-inner-section::before {
    width: 400px;
    height: 400px;
    opacity: 0.2;
  }
}

@media (max-width: 550px) {
  .booking-inner-hero {
    height: 105px;
    margin-bottom: calc((30vw / 3) + 10px);
  }
}

@media (max-width: 520px) {
  .booking-inner-hero {
    height: 100px;
    margin-bottom: calc((30vw / 3) + 10px);
  }
}

@media (max-width: 480px) {
  .booking-inner-hero {
    height: 95px;
    margin-bottom: calc((30vw / 3) + 10px);
  }

  .booking-inner-section::before {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 450px) {
  .booking-inner-hero {
    height: 90px;
    margin-bottom: calc((30vw / 3) + 10px);
  }
}

@media (max-width: 420px) {
  .booking-inner-hero {
    height: 80px;
    margin-bottom: calc((30vw / 3) + 10px);
  }

  .booking-inner-section::before {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 400px) {
  .booking-inner-hero {
    height: 75px;
    margin-bottom: calc((30vw / 3) + 10px);
  }
}

@media (max-width: 360px) {
  .booking-inner-hero {
    height: 70px;
    margin-bottom: calc((30vw / 3) + 10px);
  }
}

@media (max-width: 320px) {
  .booking-inner-hero {
    height: 60px;
    margin-bottom: calc((30vw / 3) + 10px);
  }
}

/* ------------------------------------------------- BOOKING / SITA FACTOR RESPONSIVE ------------------------------------------------- */
@media (max-width: 1200px) {
  .booking-section h2 {
    font-size: 42px;
  }

  .booking-section p,
  .sita-faq-section p,
  .booking-section li,
  .sita-faq-section button {
    font-size: 17px;
  }

  .booking-section {
    font-size: 17px;
    padding: 9px 22px;
  }
}

@media (max-width: 991px) {
  .booking-section h2 {
    font-size: 40px;
  }

  .booking-section p,
  .sita-faq-section p,
  .booking-section li,
  .sita-faq-section button {
    font-size: 16px;
  }

  .booking-section {
    font-size: 16px;
    padding: 8px 20px;
  }

  .booking-section .motif {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .booking-section h2 {
    font-size: 36px;
  }

  .booking-section p,
  .sita-faq-section p,
  .booking-section li,
  .sita-faq-section button {
    font-size: 15px;
  }

  .booking-section {
    font-size: 15px;
    padding: 7px 18px;
  }

  .booking-section .motif {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .booking-section h2 {
    font-size: 28px;
  }

  .booking-section p,
  .sita-faq-section p,
  .booking-section li,
  .sita-faq-section button {
    font-size: 14px;
  }

  .booking-section {
    font-size: 14px;
    padding: 6px 16px;
  }
}

@media (max-width: 400px) {
  .booking-section h2 {
    font-size: 24px;
  }

  .booking-section p,
  .sita-faq-section p,
  .booking-section li,
  .sita-faq-section button {
    font-size: 13px;
  }

  .booking-section {
    font-size: 13px;
    padding: 5px 14px;
  }
}
