/*new by vinod*/

.blogs-hero.sita-inner-hero {
    position: relative;
    width: 100%;
    overflow: visible;
}

.blogs-hero .sita-inner-hero-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    z-index: 2;
    overflow: hidden;
}

.blogs-hero .sita-inner-hero-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.blogs-hero .sita-hero-inner-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e5c4b5;
    z-index: 1;
}

@media (min-width: 1919px) {
    .blogs-hero.sita-inner-hero {
        height: 300px;
    }
}

@media (max-width: 1919px) {
    .blogs-hero.sita-inner-hero {
        height: 300px;
    }
}

@media (max-width: 1800px) {
    .blogs-hero.sita-inner-hero {
        height: 280px;
    }
}

@media (max-width: 1750px) {
    .blogs-hero.sita-inner-hero {
        height: 270px;
    }
}

@media (max-width: 1700px) {
    .blogs-hero.sita-inner-hero {
        height: 260px;
    }
}

@media (max-width: 1650px) {
    .blogs-hero.sita-inner-hero {
        height: 255px;
    }
}

@media (max-width: 1600px) {
    .blogs-hero.sita-inner-hero {
        height: 245px;
    }
}

@media (max-width: 1550px) {
    .blogs-hero.sita-inner-hero {
        height: 240px;
    }
}

@media (max-width: 1500px) {
    .blogs-hero.sita-inner-hero {
        height: 230px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 150px;
    }
}

@media (max-width: 1440px) {
    .blogs-hero.sita-inner-hero {
        height: 225px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 160px;
    }
}

@media (max-width: 1366px) {
    .blogs-hero.sita-inner-hero {
        height: 210px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 140px;
    }
}

@media (max-width: 1320px) {
    .blogs-hero.sita-inner-hero {
        height: 205px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 130px;
    }
}

@media (max-width: 1280px) {
    .blogs-hero.sita-inner-hero {
        height: 200px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 125px;
    }
}

@media (max-width: 1240px) {
    .blogs-hero.sita-inner-hero {
        height: 190px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 120px;
    }
}

@media (max-width: 1200px) {
    .blogs-hero.sita-inner-hero {
        height: 185px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 115px;
    }
}

@media (max-width: 1100px) {
    .blogs-hero.sita-inner-hero {
        height: 170px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 110px;
    }
}

@media (max-width: 1024px) {
    .blogs-hero.sita-inner-hero {
        height: 160px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 105px;
    }
}

@media (max-width: 991px) {
    .blogs-hero.sita-inner-hero {
        height: 155px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 100px;
    }
}

@media (max-width: 950px) {
    .blogs-hero.sita-inner-hero {
        height: 145px;
    }
}

@media (max-width: 900px) {
    .blogs-hero.sita-inner-hero {
        height: 140px;
    }
}

@media (max-width: 850px) {
    .blogs-hero.sita-inner-hero {
        height: 135px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 100px;
    }
}

@media (max-width: 800px) {
    .blogs-hero.sita-inner-hero {
        height: 130px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 100px;
    }
}

@media (max-width: 767px) {
    .blogs-hero.sita-inner-hero {
        height: 150px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 70px;
    }

    .blogs-hero .sita-inner-hero-image {
        width: 100vw;
    }
}

@media (max-width: 700px) {
    .blogs-hero.sita-inner-hero {
        height: 140px;
    }
}

@media (max-width: 650px) {
    .blogs-hero.sita-inner-hero {
        height: 130px;
    }
}

@media (max-width: 600px) {
    .blogs-hero.sita-inner-hero {
        height: 120px;
    }
}

@media (max-width: 575px) {
    .blogs-hero.sita-inner-hero {
        height: 115px;
    }

    .blogs-hero .sita-hero-inner-bg {
        height: 60px;
    }

    .blogs-hero .sita-inner-hero-image {
        width: 100vw;
    }
}

@media (max-width: 550px) {
    .blogs-hero.sita-inner-hero {
        height: 110px;
    }
}

@media (max-width: 520px) {
    .blogs-hero.sita-inner-hero {
        height: 100px;
    }
}

@media (max-width: 480px) {
    .blogs-hero.sita-inner-hero {
        height: 100px;
    }
}

@media (max-width: 450px) {
    .blogs-hero.sita-inner-hero {
        height: 90px;
    }
}

@media (max-width: 420px) {
    .blogs-hero.sita-inner-hero {
        height: 85px;
    }
}

@media (max-width: 400px) {
    .blogs-hero.sita-inner-hero {
        height: 85px;
    }
}

@media (max-width: 360px) {
    .blogs-hero.sita-inner-hero {
        height: 75px;
    }
}

@media (max-width: 320px) {
    .blogs-hero.sita-inner-hero {
        height: 70px;
    }
}

.blogs-card-image {
    height: 220px;
}

@media (max-width: 991px) {
    .blogs-card-image {
        height: 180px;
    }
}

@media (max-width: 575px) {
    .blogs-card-image {
        height: 160px;
    }
}

.blogs-card {
    height: 360px;
}

@media (max-width: 991px) {
    .blogs-card {
        height: 320px;
    }
}

@media (max-width: 575px) {
    .blogs-card {
        height: 300px;
    }
}