@font-face {
  font-family: "PTSerif-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("PTSerif-Regular"), local("PTSerif-Regular"),
    url("fonts/PTSerif-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), local("Montserrat-Regular"),
    url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat-Light"), local("Montserrat-Light"),
    url("fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  src:
    local("Montserrat-Medium"),
    local("Montserrat-Medium"),
    url("fonts/Montserrat-Medium.ttf") format("truetype");
}

html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

h2 {
  font-family: "PTSerif-Regular";
  color: #8b171b;
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

p,
li {
  font-family: "Montserrat-Light";
  font-size: 18px;
  color: black;
}

/* ---------------------------------- BLOGS SECTION ---------------------------------- */
.blogs-hero.blogs-hero-hero {
  position: relative;
  width: 100%;
  overflow: visible;
  margin-top: 0;
  padding-top: 0;
}

.blogs-hero .blogs-hero-hero-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.blogs-hero .blogs-hero-hero-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.blogs-hero .sita-hero-inner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 190px;
  background-color: #e5c4b5;
  z-index: 1;
}

/* ------------------------------------------------- RESPONSIVE CODE ------------------------------------------------- */
/* COMMON STYLES SECTION */
@media (max-width: 1200px) {
  h2 {
    font-size: 42px !important;
  }

  p,
  li {
    font-size: 17px;
  }
}

@media (max-width: 991px) {
  h2 {
    font-size: 40px !important;
  }

  p,
  li {
    font-size: 16px;
  }

  .motif {
    width: 30%;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 36px !important;
  }

  p,
  li {
    font-size: 15px;
  }

  .motif {
    width: 40%;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 28px !important;
  }

  p,
  li {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 24px !important;
  }

  p,
  li {
    font-size: 13px;
  }
}

@media (min-width: 1919px) {
  .blogs-hero.blogs-hero-hero {
    height: 300px;
  }
}

@media (max-width: 1919px) {
  .blogs-hero.blogs-hero-hero {
    height: 300px;
  }
}

@media (max-width: 1800px) {
  .blogs-hero.blogs-hero-hero {
    height: 280px;
  }
}

@media (max-width: 1750px) {
  .blogs-hero.blogs-hero-hero {
    height: 270px;
  }
}

@media (max-width: 1700px) {
  .blogs-hero.blogs-hero-hero {
    height: 260px;
  }
}

@media (max-width: 1650px) {
  .blogs-hero-hero {
    height: 280px;
  }

  .blogs-hero-hero-image {
    width: 88vw;
  }
}

@media (max-width: 1600px) {
  .blogs-hero-hero {
    height: 265px;
  }
}

@media (max-width: 1550px) {
  .blogs-hero-hero {
    height: 260px;
  }

  .blogs-hero-side-img {
    bottom: -207px;
  }
}

@media (max-width: 1500px) {
  .blogs-hero-hero {
    height: 250px;
  }

  .sita-hero-inner-bg {
    height: 150px;
  }

  .blogs-hero-hero-image {
    width: 92vw;
  }

  .blogs-hero-side-img {
    width: 400px;
    bottom: -200px;
  }
}

@media (max-width: 1440px) {
  .blogs-hero-hero {
    height: 260px;
  }

  .sita-hero-inner-bg {
    height: 160px;
  }

  .blogs-hero-hero-image {
    width: 93vw;
  }

  .blogs-hero-side-img {
    width: 390px;
    bottom: -195px;
  }
}

@media (max-width: 1400px) {
  .blogs-hero-hero {
    height: 245px;
  }

  .blogs-hero-hero-image {
    width: 90vw;
  }

  .blogs-hero-side-img {
    bottom: -190px;
  }
}

@media (max-width: 1366px) {
  .blogs-hero-hero {
    height: 240px;
  }

  .sita-hero-inner-bg {
    height: 140px;
  }

  .blogs-hero-side-img {
    width: 350px;
    bottom: -180px;
  }
}

@media (max-width: 1320px) {
  .blogs-hero-hero {
    height: 230px;
  }

  .sita-hero-inner-bg {
    height: 130px;
  }

  .blogs-hero-side-img {
    width: 340px;
    bottom: -172px;
  }
}

@media (max-width: 1280px) {
  .blogs-hero-hero {
    height: 230px;
  }

  .sita-hero-inner-bg {
    height: 125px;
  }

  .blogs-hero-hero-image {
    width: 94vw;
  }

  .blogs-hero-side-img {
    width: 330px;
    bottom: -166px;
  }
}

@media (max-width: 1240px) {
  .blogs-hero-hero {
    height: 225px;
  }

  .sita-hero-inner-bg {
    height: 120px;
  }

  .blogs-hero-hero-image {
    width: 95vw;
  }

  .blogs-hero-side-img {
    width: 325px;
    bottom: -160px;
  }
}

@media (max-width: 1200px) {
  .blogs-hero-hero {
    height: 220px;
  }

  .sita-hero-inner-bg {
    height: 115px;
  }

  .blogs-hero-side-img {
    width: 315px;
    bottom: -160px;
  }
}

@media (max-width: 1150px) {
  .blogs-hero-hero {
    height: 205px;
  }

  .blogs-hero-side-img {
    width: 315px;
    bottom: -150px;
  }
}

@media (max-width: 1100px) {
  .blogs-hero-hero {
    height: 200px;
  }

  .sita-hero-inner-bg {
    height: 110px;
  }

  .blogs-hero-side-img {
    width: 300px;
    bottom: -145px;
  }
}

@media (max-width: 1024px) {
  .blogs-hero-hero {
    height: 185px;
  }

  .sita-hero-inner-bg {
    height: 105px;
  }

  .blogs-hero-side-img {
    width: 280px;
    bottom: -135px;
  }
}

@media (max-width: 991px) {
  .blogs-hero-section {
    padding: 10px 0;
  }

  .blogs-hero-hero {
    height: 165px;
  }

  .sita-hero-inner-bg {
    height: 100px;
  }

  .blogs-hero-hero-image {
    width: 88vw;
  }

  .blogs-hero-side-img {
    display: none;
  }

  .blogs-hero-section {
    position: relative;
  }

  .blogs-hero-section::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-image: var(--service-watermark-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.2;
    pointer-events: none;
    z-index: 0;
    animation: rotateWatermark 180s linear infinite;
  }

  @keyframes rotateWatermark {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .ayurveda-nutrition-bg-image {
    --service-watermark-img: url("/ayurveda-nutrition-image.webp");

  }

  .kosha-counseling-bg-image {
    --service-watermark-img: url("/kosha-counseling-image.webp");
  }

  .release-karmic-patterns-bg-image {
    --service-watermark-img: url("/release-karmic-patterns-image.webp");
  }

  .soul-curriculum-bg-image {
    --service-watermark-img: url("/soul-curriculum-image.webp");
  }

  .yoga-therapy-bg-image {
    --service-watermark-img: url("/yoga-therapy-image.webp");
  }

  .group-sessions-bg-image {
    --service-watermark-img: url("/group-sessions-image.webp");
  }

  .blogs-hero-section .container {
    position: relative;
    z-index: 1;
  }

  .blogs-hero-content {
    width: 100%;
  }

  .blogs-hero-content,
  .blogs-hero-full-content {
    text-align: justify;
  }
}

@media (max-width: 950px) {
  .blogs-hero-hero {
    height: 155px;
  }
}

@media (max-width: 900px) {
  .blogs-hero-hero {
    height: 145px;
  }
}

@media (max-width: 850px) {
  .blogs-hero-hero {
    height: 140px;
  }

  .sita-hero-inner-bg {
    height: 80px;
  }

  .blogs-hero-hero-image {
    width: 90vw;
  }
}

@media (max-width: 800px) {
  .blogs-hero-hero {
    height: 135px;
  }

  .sita-hero-inner-bg {
    height: 85px;
  }

  .blogs-hero-hero-image {
    width: 92vw;
  }
}

@media (max-width: 767px) {
  .blogs-hero.blogs-hero-hero {
    height: 150px;
  }

  .blogs-hero .sita-hero-inner-bg {
    height: 70px;
  }

  .blogs-hero .blogs-hero-hero-image {
    width: 100vw;
  }
}

@media (max-width: 700px) {
  .blogs-hero.blogs-hero-hero {
    height: 140px;
  }
}

@media (max-width: 650px) {
  .blogs-hero.blogs-hero-hero {
    height: 130px;
  }
}

@media (max-width: 600px) {
  .blogs-hero.blogs-hero-hero {
    height: 120px;
  }
}

@media (max-width: 575px) {
  .blogs-hero.blogs-hero-hero {
    height: 115px;
  }

  .blogs-hero .sita-hero-inner-bg {
    height: 60px;
  }

  .blogs-hero .blogs-hero-hero-image {
    width: 100vw;
  }
}

@media (max-width: 550px) {
  .blogs-hero.blogs-hero-hero {
    height: 110px;
  }
}

@media (max-width: 520px) {
  .blogs-hero.blogs-hero-hero {
    height: 100px;
  }
}

@media (max-width: 480px) {
  .blogs-hero.blogs-hero-hero {
    height: 100px;
  }
}

@media (max-width: 450px) {
  .blogs-hero.blogs-hero-hero {
    height: 90px;
  }
}

@media (max-width: 420px) {
  .blogs-hero.blogs-hero-hero {
    height: 85px;
  }
}

@media (max-width: 400px) {
  .blogs-hero.blogs-hero-hero {
    height: 85px;
  }
}

@media (max-width: 360px) {
  .blogs-hero.blogs-hero-hero {
    height: 75px;
  }
}

@media (max-width: 320px) {
  .blogs-hero.blogs-hero-hero {
    height: 70px;
  }
}

.blogs-card-image {
  height: 220px;
}

@media (max-width: 991px) {
  .blogs-card-image {
    height: 180px;
  }
}

@media (max-width: 575px) {
  .blogs-card-image {
    height: 160px;
  }
}

.blogs-card {
  height: 360px;
}

@media (max-width: 991px) {
  .blogs-card {
    height: 320px;
  }
}

@media (max-width: 575px) {
  .blogs-card {
    height: 300px;
  }
}

/* ---------------------------------- INNER PAGE HERO ---------------------------------- */
.blog-details-inner-hero {
  position: relative;
  width: 100%;
  overflow: visible;
  margin-bottom: calc((30vw / 3) + 20px);
}

.blog-details-inner-hero-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  z-index: 2;
  overflow: hidden;
}

.blog-details-inner-hero-image img {
  width: 100%;
  height: auto;
  aspect-ratio: 10 / 3;
  object-fit: cover;
  object-position: center;
  display: block;
}

.blog-details-inner-hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 190px;
  background-color: #e5c4b5;
  z-index: 1;
}

/* ------------------------------------------------- INNER PAGES RESPONSIVE CODE ------------------------------------------------- */
@media (min-width: 1919px) {
  .blog-details-inner-hero {
    height: 300px;
  }
}

@media (max-width: 1919px) {
  .blog-details-inner-hero {
    height: 300px;
  }

  .blog-details-inner-side-img {
    bottom: -200px;
    width: 410px;
  }
}

@media (max-width: 1400px) {
  .blog-details-inner-hero {
    height: 245px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-image {
    width: 90vw;
  }

  .blog-details-inner-side-img {
    bottom: -190px;
  }
}

@media (max-width: 1800px) {
  .blog-details-inner-hero {
    height: 280px;
  }

  .blog-details-inner-side-img {
    bottom: -205px;
  }
}

@media (max-width: 1750px) {
  .blog-details-inner-hero {
    height: 270px;
  }
}

@media (max-width: 1700px) {
  .blog-details-inner-hero {
    height: 260px;
  }
}

@media (max-width: 1650px) {
  .blog-details-inner-hero {
    height: 255px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-image {
    width: 88vw;
  }
}

@media (max-width: 1600px) {
  .blog-details-inner-hero {
    height: 245px;
  }
}

@media (max-width: 1550px) {
  .blog-details-inner-hero {
    height: 240px;
  }

  .blog-details-inner-side-img {
    bottom: -207px;
  }
}

@media (max-width: 1500px) {
  .blog-details-inner-hero {
    height: 230px;
    margin-bottom: calc((30vw / 3) + 40px);
  }

  .blog-details-inner-hero-bg {
    height: 150px;
  }

  .blog-details-inner-hero-image {
    width: 92vw;
  }
}

@media (max-width: 1440px) {
  .blog-details-inner-hero {
    height: 225px;
    margin-bottom: calc((30vw / 3) + 40px);
  }

  .blog-details-inner-hero-bg {
    height: 160px;
  }

  .blog-details-inner-hero-image {
    width: 93vw;
  }
}

@media (max-width: 1366px) {
  .blog-details-inner-hero {
    height: 210px;
    margin-bottom: calc((30vw / 3) + 50px);
  }

  .blog-details-inner-hero-bg {
    height: 140px;
  }

  .blog-details-inner-side-img {
    width: 350px;
    bottom: -180px;
  }
}

@media (max-width: 1320px) {
  .blog-details-inner-hero {
    height: 205px;
    margin-bottom: calc((30vw / 3) + 40px);
  }

  .blog-details-inner-hero-bg {
    height: 130px;
  }
}

@media (max-width: 1280px) {
  .blog-details-inner-hero {
    height: 230px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-bg {
    height: 125px;
  }

  .blog-details-inner-hero-image {
    width: 94vw;
  }
}

@media (max-width: 1240px) {
  .blog-details-inner-hero {
    height: 225px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-bg {
    height: 120px;
  }

  .blog-details-inner-hero-image {
    width: 95vw;
  }

  .blog-details-inner-side-img {
    width: 325px;
    bottom: -160px;
  }
}

@media (max-width: 1200px) {
  .blog-details-inner-hero {
    height: 220px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-bg {
    height: 115px;
  }
}

@media (max-width: 1100px) {
  .blog-details-inner-hero {
    height: 200px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-bg {
    height: 110px;
  }
}

@media (max-width: 1024px) {
  .blog-details-inner-hero {
    height: 185px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-bg {
    height: 105px;
  }
}

@media (max-width: 991px) {
  .blog-details-inner-section {
    padding: 10px 0;
  }

  .blog-details-inner-hero {
    height: 165px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-bg {
    height: 100px;
  }

  .blog-details-inner-hero-image {
    width: 88vw;
  }

  .blog-details-inner-side-img {
    display: none;
  }

  .blog-details-inner-section {
    position: relative;
  }

  .blog-details-inner-section::before {
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-image: var(--service-watermark-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.2;
    pointer-events: none;
    z-index: 0;
    animation: rotateWatermark 180s linear infinite;
  }

  @keyframes rotateWatermark {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .ayurveda-nutrition-bg-image {
    --service-watermark-img: url("/ayurveda-nutrition-image.webp");

  }

  .kosha-counseling-bg-image {
    --service-watermark-img: url("/kosha-counseling-image.webp");
  }

  .release-karmic-patterns-bg-image {
    --service-watermark-img: url("/release-karmic-patterns-image.webp");
  }

  .soul-curriculum-bg-image {
    --service-watermark-img: url("/soul-curriculum-image.webp");
  }

  .yoga-therapy-bg-image {
    --service-watermark-img: url("/yoga-therapy-image.webp");
  }

  .group-sessions-bg-image {
    --service-watermark-img: url("/group-sessions-image.webp");
  }

  .blog-details-inner-section .container {
    position: relative;
    z-index: 1;
  }

  .blog-details-inner-content {
    width: 100%;
  }

  .blog-details-inner-content,
  .blog-details-inner-full-content {
    text-align: justify;
  }
}

@media (max-width: 950px) {
  .blog-details-inner-hero {
    height: 155px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 900px) {
  .blog-details-inner-hero {
    height: 145px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}


@media (max-width: 850px) {
  .blog-details-inner-hero {
    height: 135px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-bg {
    height: 80px;
  }

  .blog-details-inner-hero-image {
    width: 90vw;
  }
}

@media (max-width: 800px) {
  .blog-details-inner-hero {
    height: 130px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-bg {
    height: 85px;
  }

  .blog-details-inner-hero-image {
    width: 92vw;
  }
}

@media (max-width: 767px) {
  .blog-details-inner-hero {
    height: 150px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-bg {
    height: 0px;
  }

  .blog-details-inner-hero-image {
    width: 100vw;
  }

  .blog-details-inner-content p {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .blog-details-inner-hero {
    height: 135px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 650px) {
  .blog-details-inner-hero {
    height: 125px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 600px) {
  .blog-details-inner-hero {
    height: 115px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 575px) {
  .blog-details-inner-hero {
    height: 110px;
    margin-bottom: calc((30vw / 3) + 20px);
  }

  .blog-details-inner-hero-image {
    width: 100vw;
  }
}

@media (max-width: 550px) {
  .blog-details-inner-hero {
    height: 105px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 520px) {
  .blog-details-inner-hero {
    height: 100px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 480px) {
  .blog-details-inner-hero {
    height: 95px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 450px) {
  .blog-details-inner-hero {
    height: 90px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 420px) {
  .blog-details-inner-hero {
    height: 80px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 400px) {
  .blog-details-inner-hero {
    height: 75px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 360px) {
  .blog-details-inner-hero {
    height: 70px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}

@media (max-width: 320px) {
  .blog-details-inner-hero {
    height: 60px;
    margin-bottom: calc((30vw / 3) + 20px);
  }
}