/* .sita-decor {
  position: absolute;
  pointer-events: none;
  will-change: transform;
  transform: translateY(0);
} */

/* .sita-publications-decor {
  display: none;
  position: absolute;
  top: 120px;
  margin-right: -210px;
  width: 350px;
  height: auto;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 0.8;
  pointer-events: none;
  will-change: transform;
}

@media (min-width: 1024px) {
  .sita-publications-decor {
    display: block;
  }
} */