/* ------------------------------------------------- WORKSHOP SECTION ------------------------------------------------- */
.sita-workshops-section .motif {
  display: block;
  margin: 0 auto 50px;
}

.sita-workshops-content h4 {
  font-family: "Montserrat-Medium";
  color: #8b171b !important;
  font-size: 28px;
  margin-bottom: 20px;
}

.sita-workshops-btn {
  display: inline-block;
  background-color: #f6981e;
  color: #ffffff;
  padding: 10px 24px;
  font-family: "Montserrat-Medium";
  font-size: 18px;
  text-decoration: none;
  line-height: 1;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.sita-workshops-btn:hover {
  background-color: #8b171b;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .sita-workshops-btn {
    font-size: 17px;
    padding: 9px 22px;
  }
}

@media (max-width: 991px) {
  .sita-workshops-section .motif {
    margin: 0 auto 30px !important;
  }

  .sita-workshops-content h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .sita-workshops-btn {
    font-size: 16px;
    padding: 8px 20px;
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .sita-workshops-section .motif {
    margin: 0 auto 25px !important;
  }

  .sita-workshops-content h4 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .sita-workshops-btn {
    font-size: 15px;
    padding: 7px 18px;
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .sita-workshops-section .motif {
    margin: 0 auto 20px !important;
  }

  .sita-workshops-content h4 {
    font-size: 18px;
    margin-bottom: 0px;
  }

  .sita-workshops-btn {
    font-size: 14px;
    padding: 6px 16px;
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .sita-workshops-btn {
    font-size: 13px;
    padding: 5px 14px;
  }
}

/* ------------------------------------------------- GROUP SESSIONS SECTION ------------------------------------------------- */

/* ----------------- CORE ELEMENTS SECTION ----------------- */
.group-sessions-core-elements {
  padding: 40px 0px;
  background-color: #f4ebce;
}

.group-sessions-core-elements h4 {
  font-family: "Montserrat-Medium";
  color: #8b171b !important;
  font-size: 28px;
  margin-bottom: 20px;
}

.group-sessions-core-elements-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.group-sessions-core-elements-list li {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 15px;
  break-inside: avoid;
  color: black;
}

.group-sessions-core-elements-list li img {
  width: 20px;
  height: auto;
  flex-shrink: 0;
  margin-top: 3px;
}

.group-sessions-core-elements p {
  width: 65%;
}

@media (max-width: 1200px) {
  .group-sessions-core-elements p {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .group-sessions-core-elements {
    padding: 30px 0px;
  }

  .group-sessions-core-elements h4 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .group-sessions-core-elements-list {
    margin-bottom: 10px;
  }

  .group-sessions-core-elements-list li {
    gap: 15px;
  }

  .group-sessions-core-elements-list li img {
    width: 19px;
  }
}

@media (max-width: 767px) {
  .group-sessions-core-elements {
    padding: 20px 0px;
  }

  .group-sessions-core-elements h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .group-sessions-core-elements-list {
    margin-bottom: 0px;
  }

  .group-sessions-core-elements-list li {
    margin-bottom: 10px;
    gap: 10px;
  }

  .group-sessions-core-elements-list li img {
    width: 18px;
  }
}

@media (max-width: 575px) {
  .group-sessions-core-elements {
    padding: 15px 0px;
  }

  .group-sessions-core-elements h4 {
    font-size: 18px;
  }

  .group-sessions-core-elements-list li img {
    width: 17px;
  }
}

/* ----------------- GROUP FORMATS SECTION ----------------- */
.group-formats-core-elements {
  padding: 40px 0px;
}

.group-formats-core-elements h4 {
  font-family: "Montserrat-Medium";
  color: #8b171b !important;
  font-size: 28px;
  margin-bottom: 20px;
}

.group-formats-core-elements-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.group-formats-core-elements-list li {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  margin-bottom: 15px;
  break-inside: avoid;
  color: black;
}

.group-formats-core-elements-list .point-num {
  font-family: "Montserrat-SemiBold";
  font-size: 20px;
  flex-shrink: 0;
  background: linear-gradient(90deg, #8b171b, #f2a33a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.group-formats-core-elements p {
  width: 65%;
}

@media (max-width: 1200px) {
  .group-formats-core-elements p {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .group-formats-core-elements {
    padding: 30px 0px;
  }

  .group-formats-core-elements h4 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .group-formats-core-elements-list {
    margin-bottom: 10px;
  }

  .group-formats-core-elements-list li {
    gap: 15px;
  }

  .group-formats-core-elements-list .point-num {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .group-formats-core-elements {
    padding: 20px 0px;
  }

  .group-formats-core-elements h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .group-formats-core-elements-list {
    margin-bottom: 0px;
  }

  .group-formats-core-elements-list li {
    margin-bottom: 10px;
    gap: 10px;
  }

  .group-formats-core-elements-list .point-num {
    font-size: 17px;
  }
}

@media (max-width: 575px) {
  .group-formats-core-elements {
    padding: 15px 0px;
  }

  .group-formats-core-elements h4 {
    font-size: 18px;
  }

  .group-formats-core-elements-list .point-num {
    font-size: 16px;
  }
}

/* -----------------  WHAT MAKES THIS WORK UNIQUE SECTION ----------------- */
.what-makes-this-work-unique {
  padding: 40px 0px;
  background-image: url("/group-sessions-parallax.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.what-makes-this-work-unique h4 {
  font-family: "Montserrat-Medium";
  color: white !important;
  font-size: 28px;
  margin-bottom: 20px;
}

.what-makes-this-work-unique .heading {
  font-family: "Montserrat-Medium";
  margin-bottom: 6px;
}

.what-makes-this-work-unique p {
  color: white;
  width: 80%;
  margin-bottom: 5px;
}

.what-makes-this-work-unique-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.what-makes-this-work-unique-list li {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 15px;
  break-inside: avoid;
  color: white;
}

.what-makes-this-work-unique-list li img {
  width: 20px;
  height: auto;
  flex-shrink: 0;
  margin-top: 3px;
}

@media (max-width: 1200px) {
  .what-makes-this-work-unique p {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .what-makes-this-work-unique {
    padding: 30px 0px;
  }

  .what-makes-this-work-unique h4 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .what-makes-this-work-unique-list {
    margin-bottom: 10px;
  }

  .what-makes-this-work-unique-list li {
    gap: 15px;
  }

  .what-makes-this-work-unique-list li img {
    width: 19px;
  }
}

@media (max-width: 767px) {
  .what-makes-this-work-unique {
    padding: 20px 0px;
  }

  .what-makes-this-work-unique h4 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .what-makes-this-work-unique-list {
    margin-bottom: 0px;
  }

  .what-makes-this-work-unique-list li {
    margin-bottom: 10px;
    gap: 10px;
  }

  .what-makes-this-work-unique-list li img {
    width: 18px;
  }
}

@media (max-width: 575px) {
  .what-makes-this-work-unique {
    padding: 15px 0px;
  }

  .what-makes-this-work-unique h4 {
    font-size: 18px;
  }

  .what-makes-this-work-unique-list li img {
    width: 17px;
  }
}

/* -----------------  SESSIONS SECTION ----------------- */
.sessions-section {
  padding: 60px 0px 80px;
}

@media (max-width: 1200px) {
  .sessions-section {
    padding: 40px 0px 60px;
  }
}

@media (max-width: 991px) {
  .sessions-section {
    padding: 30px 0px 40px;
  }
}

@media (max-width: 767px) {
  .sessions-section {
    padding: 25px 0px 40px;
  }
}

@media (max-width: 575px) {
  .sessions-section {
    padding: 20px 0px 40px;
  }
}
